<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <% if @show_side_bar %>
        <div id="two_column_container" class="row-fluid">
          <div id="side_column" class="well square-well xclearfix no-padding no-margin">
            <%= yield :sidebar %>
          </div>
          <div id="main_column"  class="well square-well clearfix bg-white" >
            <%= yield %>
          </div>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>